.Showall a{
    color: white;
    text-decoration: none;
}
.phone a{
    color: white;
    text-decoration: none;
}
.clothe a{
    color: white;
    text-decoration: none;
}
.shoes a{
    color: white;
    text-decoration: none;
}